<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1>Nuevo libro</h1>
    </div>

    <div class="col-md-6">

      <form action="/books/create" method="post">
        <div class="form-group">
          <label for="title-input">Título</label>
          <input name="title" type="text" class="form-control" id="title-input">
        </div>

        <div class="form-group">
          <label for="author-input">Autor</label>
          <input name="author" type="text" class="form-control" id="author-input">
        </div>

        <div class="form-group">
          <label for="description-input">Descripción</label>
          <textarea name="description" class="form-control" id="description-input"></textarea>
        </div>

        <div class="form-group">
          <label for="rating-input">Rating</label>
          <input name="rating" type="text" class="form-control" id="rating-input">
        </div>

        <button type="submit" class="btn btn-dark">Crear nuevo libro</button>

      </form>
    </div>

  </div>
</div>